.title-modal-prescription {
  color: #3AA8A8;
  text-align: center;
  margin-bottom: 2vh;
  margin-top: 3vh;
}
.form-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5vh;
}

.form-group {
  width: 100%;
}
.form-modal .form-control{
  width: 100%;
}
.form-modal .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  gap: 5%;
}
 .addDrugBtn{
  font-weight: 500;
  min-width: 25%;
  margin-left: 1vw;
}
.addDrug label{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0.3vh;
  color: gray;
}
.form-modal button {
  width: 8vw;
  border-radius: 5%;
  min-width: max-content;
}

.form-modal .form-group {
  margin-top: 1.2vh;
  margin-bottom: 1.2vh;
}

.form-modal label {
  margin-bottom: 0.5vh;
}

.close-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  min-width: 100%;
}

.add-drug-btn {
  min-width: fit-content;
  float: right;
  background-color: #3AA8A8;
  color: white;
  font-weight: 500;
}
.hasQuantity .form-control{
  width: 50%;
}
.input-group{
  display: flex;
  flex-direction: row;
}
.input-group-text{
  background-color: white;
  border: white;
  color: black;
  font-weight: bold;
}
.close-icon .icon {
  cursor: pointer;
}

.drug-divider {
  margin-top: 3vh;
  border-top: 2px dashed orange;
}
.iconDelete{
  font-size: large !important;
}
.header-container{
  height: 1vh;
}
.add-drug-box {
  min-width: 100%;
  min-height: 2vh;
}
.delete-icon-container{
  margin-bottom: 1vh;
}
.delete-icon-container :hover{
  cursor: pointer;
}
.icon :hover {
  cursor: pointer;
}
.close-icon :hover{
  cursor: pointer;
}
.info-form-tab{
  height: 50vh;
  overflow-y: scroll;
}
