.show-post-page{
    overflow-x:hidden ;
    background-color: #F6FAFB;
}
.show-post-box{
    padding: 1%;
}
.show-post-content{
    padding-top: 3vh;
    z-index: 5;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.show-post-title{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.btn-to-history{
    background-color: #FF7783;
    font-weight: 500;
    color: white;
}
.btn-to-record{
    font-weight: 500;
    color: white;
    background-color: #7F86FF;
}
.btn-group-patient-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vh;
}
