.post-card .card-text.summary{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-indent: 2vw;
    letter-spacing: 0px;
    font-size: 15px;
    font-weight: 450;
}
.post-card{
    padding-top: 2vh;
    padding-left:1vw;
    padding-right: 1vw;
    height: 60vh;
    background-color: #F6FAFB;
}
.post-card a{
    text-decoration: none;
    color: inherit;
}
.group-edit{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.group-edit .edit:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.group-edit .delete:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}
.post-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    font-weight: 500;
}
.post-card .card-img-top {
    height:23vh;
    width:100%;
}
.post-card .card-body{
    height: 42vh;
    text-align: justify;

}
.post-card .card-title{
    height: 8vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.update-script{
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
