.Footer{
    background-color: #3AA8A8;
    left: 0;
    bottom: 0;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: fit-content;
    z-index:2;
    margin-top: auto;
  }
.mainFooter{
  background-color:#3AA8A8;
  width: 100%;
  display: block;
}
