.doctor-detail-content{
    z-index: 5;
    padding: 0.2% 2%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.doctor-detail-content .info-box{
    display: flex;
    padding-top: 0.5vh;
    align-items: center;
    flex-direction: column;
}
.doctor-detail-content .title-info{
    color: #4a7fc9;
    text-align: center;
}
.doctor-detail-content .description-info{
    color: #767477;
    margin-left: 3vh;
    margin-bottom: 2vh;
    text-align: center;
}
.doctor-detail-content .container-info{
    display: flex;
    flex-direction: row;
    margin-top: 0.5vh;
}
.doctor-detail-content .label-info{
    color: #ae7f6c ;
    font-weight: 650;
    font-size: larger;
    width: 8vw;
    min-width: fit-content;

}
.doctor-detail-content .avatar-box{
    background: url('https://i.pinimg.com/236x/0c/2b/1c/0c2b1c013f042ae3faf860e45853e795.jpg');
    background-size: cover ;
    padding: 4% 4%;
    padding-bottom: 0%;
    max-height: 68vh;
}

.doctor-detail-content .content-info{
    color: #8c8c8c;
    font-size: larger;
    font-weight: 600;
    margin-left: 4vw;
}
.doctor-detail-content .main-box{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0% 5%;
    padding-top: 2%;
}
.special-btn {
    background-color: #feebf2;
    margin-left: 2vw;
    color: #ae7f6c;
    font-weight: 600;
    margin-bottom: 2vh;
}
.doctor-detail-content .btn-box{
    display: block ;
    margin-bottom: 1vh;
    margin-top: 2vh;
    padding-right: 2vw;
    width: 100%;
}
.main-box .main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
