.show-post-page{
    overflow-x:hidden ;
    background-color: #F6FAFB;
}
.show-post-box{
    padding: 1%;
}
.show-patient-content{
    min-height: 84vh;
    z-index: 5;
    padding-top: 3%;
    padding-bottom: 3%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.show-post-title{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.patient-create-button{
    color:black;
    font-weight: 500;
    float: right;
}
.btn-box{
    display: block ;
    margin-bottom: 2vh;
    padding-right: 2vw;
    width: 100%;
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #F7F6FE;
}
.table td {
    text-align: center;
    vertical-align: center;
}
.table th {
    text-align: center;
    vertical-align: center;
}
.table-box{
    width: 100%;
    padding-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    padding-right: 2%;
}
.empty-title-box{
    min-height: 50vh;
    padding-top: 18vh;
}
