.title-modal-prescription {
  color: #3AA8A8;
  text-align: center;
  margin-bottom: 1vh;
}

.title-modal-invoice {
  color: orange;
  margin-bottom: 2vh;
}
.form-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5vh;
}
.status-invoice {
  color:brown;
}

.form-group {
  width: 100%;
}

.form-modal .form-control {
  width: 100%;
}

.form-modal .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  gap: 5%;
}

.btn-group .btn {
  font-weight: 500;
}

.form-modal button {
  width: 8vw;
  border-radius: 5%;
  min-width: max-content;
}

.form-modal .form-group {
  margin-top: 1.2vh;
  margin-bottom: 1.2vh;
}

.form-modal label {
  margin-bottom: 0.5vh;
}

.close-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  min-width: 100%;
}

.add-drug-btn {
  min-width: fit-content;
  float: right;
  background-color: #3AA8A8;
  color: white;
  font-weight: 500;
}

.invoice-section label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0.3vh;
  color: gray;
}

.close-icon .icon {
  cursor: pointer;
}

.invoice-section .form-control{
  background-color: white;
  margin-top: 0.5vh;
}

.drug-divider {
  margin: 5vh 0;
  border-top: 2px dashed orange;
}

.add-drug-box {
  min-width: 100%;
  height: 1vh;
}

.delete-icon-container :hover {
  cursor: pointer;
}

.icon :hover {
  cursor: pointer;
}

.close-icon :hover {
  cursor: pointer;
}
.table-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 2vh;
  color: #666666;
}
.total-modal-prescription{
  color: #666666;
}
.total-amount {
  margin-left: 2%;
  margin-right: 2%;
  color:#3AA8A8;
}
.total-section {
  text-align: center;
}
.eye-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
